<main class="main">
  <div class="inner">
    <%# ログインしているときは以下を表示する %>
    <% if user_signed_in? %>
      <div class="greeting">
        <%= "こんにちは!!" %>
        <%= link_to "#{current_user.name}さん", user_path(current_user.id), class: :greeting__link %>
      </div> 
    <% end %>
   <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
      <%# <% 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
      <%= render partial: "prototype", collection: @prototypes %>
    </div>
      <h3>mini-talk-app</h3>
          <%= form_with model: @message do |f| %>
          <%= f.text_field :text %>
          <%= f.submit '送信' %>
          <% end %>
          <div id='messages'>
          <% @messages.reverse_each do |message| %>
          <p><%= message.text %></p>
          <% end %>
      </div>
  </div>
</main>
